.body{
 
background-image: url('./images/first.jpg');
background-image: no-repeat;
}
.body h1{

color: rgb(204, 83, 27);
display: flex;
background-color: wheat;
justify-content: center;
margin-top: .5em;
font-family: fantasy;
}

.btn-warning{
    background-color: #f1efea;
    border-color: #f8f9fa;
    width: 18em;     
    margin: 2em 0em 0em 1em;

}
.body form{
display: flex;
width: 405px;
}

.body form{
   
    margin-left: -6px;
}
#list{
    margin-top: 6em;
}
.bg-model{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model-content{
    width: 563px;
    height: 607px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-grow: row;
    flex-direction: column;
}
.hide{
    display: none;
   
 } 
 #closebtn{
     display: flex;
     margin-left: 30em;
     width: 5em;
     justify-content: center;
 }